.start{
   
    font-family: "Roboto", sans-serif;
    background-color: #faba00;
    color: #fff;
        width: 148px;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #faba00;
        line-height: 40px;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
}
  .start:hover {
      border: 1px solid #faba00;
        transition: all 400ms ease-out 0s;
      background-color: transparent;

  }