.mostPopularCard{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: start;
    gap: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 400px;
   

}
.mostPopularCard img{
    max-width: 400px ;
    max-height: 400px;
}
.mostPopularCard:hover h5{
color: #faba00;
transition: all 1s ease-out 0s;

}
.mostPopularCardText{
    padding-top: 20px;
    width: 80%;
}
.mostPopularCardText p{
 line-height: 24px;
    font-size: 14px; 
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #777777;
}
.cardButton{
    display: flex;
}
