.home p {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #777777;
        line-height: 27px;

}
.home h2{
        font-family: "Roboto",
                        sans-serif;
}